*{
    font-family:janna lt;
    box-sizing: border-box;
    direction: rtl;
}
.logo {
    text-align: center;
    margin: 20px 0;
}
.logo img {
    width: 200px;
}
.logo p {
    font-size: 25px;
    font-weight: 400;
    color: #7068f2;
}
.book {
    text-align: center;
}
.book p {
    font-size: 18px;
    color: gray;
}
.book input {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.767);
}
.book input[type="submit"] {
    font-size: 16px;
    color: #fff;
    background-color: #7068f2;
    border: none;
}
.book input[type="submit"]:hover{
    background-color: #1408f5;
}
.book .center{
    text-align:center;
    width:100%
}
.book .center span {
    color:rgb(156, 23, 23);
    font-size:12px;
    padding:0 20%;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 20px;
}
table th {
    background-color: #7068f2;
    color: #fff;
    padding:5px 0;
}
.admin-table {
    width: 80%;
    margin :50px auto;
    margin-top: 20px;
    border: 1px solid #7068f2;
    font-size: 1em;
}
.admin-table td {
    border: 1px solid #7068f2;
}
@media (min-width:240px) and (max-width:500px) {
    .logo {
        margin: 5px 0;
    }
    .logo img {
        width: 150px;
    }
    .logo p {
        font-size: 17px;
        font-weight: 2500;
        color: #7068f2;
        margin: 0 0 15px 0;
    }
    .book p {
        font-size: 13px;
    }
    table{
        font-size: 15px;
    }
    .admin-table{
        font-size: 12px;
        margin-top:0;
    }
    table th {
        padding:2px 0;
    }
    .book input {
        width: 100%;
    }
    .admin-table {
        width: 100%;
        font-size: 10px
    }
}
@media (min-width:500px) and (max-width:800px) {
    .book p {
        font-size: 15px;
    }
    table{
        font-size: 18px;
    }
    .book input {
        width: 70%;
    }
    .admin-table {
        width: 100%;
        font-size: 15px
    }
    .logo p {
        font-size: 20px;
        font-weight: 2500;
        color: #7068f2;
        margin: 0;
    }
}